.content {
  padding: 30px;
}
.list {
  color: #fff;
  &__item {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #ccc;
    a {
      color: #333;
    }
  }
}
.ttl {
  font-size: 16px;
  margin-bottom: 6px;
}
.category {
  &__item {
    font-size: 12px;
    padding: 2px 12px;
    background: lightblue;
    display: inline-block;
    border-radius: 5px;
  }
}